<div class="contact" id="contact">
    <h1>Contact Us</h1>
<div class="contact-heading">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Your Name</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Name">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Message</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <form >
    <button type="submit" id="form" class="btn btn-dark">Submit</button>
  </form>
</div>